<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <script src="/js/app.js"></script>
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Joon. It uses data from mapbox.com and weatherstack.com</p>
        <img class='portrait' src="/img/link.png" alt="">
    </div>
    
    {{>footer}}
</body>
</html>